.bg-blue {
    background-color: rgb(47, 62, 78);
}

.bg-green {
    background-color: rgb(87, 184, 157);
}

.img-container {
    width: 200px;
}

#ms-jumbotron .star::after {
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

#ms-jumbotron .star::before {
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
}