.bg-blue {
    background-color: rgb(47, 62, 78);
}

.bg-green {
    background-color: rgb(87, 184, 157);
}

.bg-light-blue {
    background-color: rgb(63, 84, 107);
}

.img-container {
    width: 200px;
}

.star::after, .star::before {
    content: '';
    width: 10%;
    height: 3px;
    display: inline-block;
} 

#ms-jumbotron .star::after,
#ms-jumbotron .star::before,
#ms-about .star::after,
#ms-about .star::before {
    background-color: white;
}

#ms-portfolio .star::after,
#ms-portfolio .star::before,
#ms-contact .star::after,
#ms-contact .star::before {
    background-color: black;
} 

#ms-contact .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid lightgrey;
}

#ms-footer-top i {
    line-height: 50px;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

#ms-footer-top a {
    color: rgb(87, 184, 157);
}