.bg-blue {
    background-color: rgb(47, 62, 78);
}

.bg-green {
    background-color: rgb(87, 184, 157);
}

.img-container {
    width: 200px;
}

#ms-jumbotron .star::after {
    content: '';
    width: 120px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

#ms-jumbotron .star::before {
    content: '';
    width: 120px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

#ms-portfolio .star::after {
    content: '';
    width: 150px;
    height: 3px;
    background-color: black;
    display: inline-block;
} 

#ms-portfolio .star::before {
    content: '';
    width: 150px;
    height: 3px;
    background-color: black;
    display: inline-block;
}

#ms-about .star::after {
    content: '';
    width: 10%;
    height: 3px;
    background-color: white;
    display: inline-block;
}

#ms-about .star::before {
    content: '';
    width: 10%;
    height: 3px;
    background-color: white;
    display: inline-block;
}